Django==1.6.5
South==1.0
dj-database-url==0.3.0
dj-static==0.0.5
django-filter==0.7
django-model-utils==2.0.3
django-notifications-hq==0.6.2
django-registration==1.0
django-session-idle-timeout==1.4.2
django-toolbelt==0.0.1
djangorestframework==2.3.14
gunicorn==19.0.0
psycopg2==2.5.3
pystache==0.5.4
static==1.0.2
wsgiref==0.1.2
newrelic
