  #email-input{
  padding:30px 140px;
  font-size: 20px;
}
#food{
  text-align:center;
  font-size:40px;
  color:#000;
  font-family:proxima-nova, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
#thali{
  font-size: 20px;
color: #5D5C5C;
line-height: 36px;
font-family: proxima-nova, 'Helvetica Neue', Helvetica, Arial, sans-serif;
margin-top: 80px;
}
#thalibackground{
  opacity:initial;
  height:900px;
}
#ingredients{
  width:103.3333%;
  margin-top:50px;
}

#id_thali{
  padding: 60px 40px;
font-size: 20px;
background: url(http://clipart.coolclips.com/AGifm/tf05247/CoolClips_wb030940.gif) no-repeat;
border-color: transparent;
}
.order button{
  display: inline-table;
font-size: 19px;
width: inherit;
height: 38px;
padding: 6px;
background: #F8A310;
-webkit-border-radius: 10px;
-moz-border-radius: 10px;
border-radius: 10px;
-moz-background-clip: padding;
-webkit-background-clip: padding-box;
background-clip: padding-box;
text-shadow: rgba(0,0,0,0.3) 0 1px 2px;
text-decoration: none;
color: rgb(170, 35, 57);
}

.order button:before{
  position: absolute;
left: 25px;
top: -57px;
background: url('/static/design/images/biryani.gif') no-repeat;
width: 79px;
height: 182px;
text-indent: -9000px;
content: ".";
margin-left:15px;
}

.order button:hover{
  background: green;
  text-decoration: none;
  color:#F8A310;
}

#location{
  margin-top:60px;
  text-align: center;
}

#loc{
    margin-top:20px;
    text-align: center;

}

.howitworks.pageNav{
  background: #899F23;
  padding-bottom:100px;
}

.howitworks .row .block-title{
  color: #fff;
text-shadow: 0.5px 0.5px #BD8E04;
font-size: 28px;
font-family: 'Montserrat', sans-serif;
}

.block-title{
  font-family: 'Montserrat', sans-serif;
color: #3d3428;
font-size: 26px;
line-height: 47px;
text-transform: uppercase;
text-align: center;
background: url(https://gobble.com/assets/v4/bgi/title-bg-e00643613c7612eb61123da44d2ee697.png) no-repeat bottom center;
padding-bottom: 7px;
}

.howitworks .row .img-circle{
  border: 2px solid #fff;
width: 70px;
height: 70px;
margin: 15px auto;
text-align: center;
background-color: #f09d04;
}

.howitworks .row .img-circle strong{
  font-size: 35px;
line-height: 61px;
color: #fff;
}

.clearfix.works-list{
  padding: 40px 0 50px;
}
.howitworks .row .works-list p{
  font-size: 25px;
line-height: 46px;
padding-bottom: 25px;
margin-bottom: 0;
text-shadow: 0.5px 0.5px #BD8E04;
font-family: 'Open Sans', sans-serif;
color:#fff;
}
#phone{
  font-size: x-large;
  color:#740404;
}

#mail{
  font-size: x-large;
  color:#740404;
  text-decoration: underline;
}
.name{
  font-size: 25px;
line-height: 32px;
color: #1b1f23;
min-height: 40px;
font-family: proxima-nova, 'Helvetica Neue', Helvetica, Arial, sans-serif;
text-align: center;
}

.info{
  font-size: 16px;
line-height: 27px;
margin-top: 30px;
text-align: center;
color: #676767;
}

.page-wrapper{
  background: #f9f7eb;
}

h1{
  font-family: proxima-nova, 'Helvetica Neue', Helvetica, Arial, sans-serif;
color: #1b1f23;
text-align: center;
font-size: 30px;
line-height: 54px;
margin: 0 0 73px 0;
letter-spacing: -0.05em;
}
@media
only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px){

  #food{
  font-size:20px;
  color:#000;
  font-family:proxima-nova, 'Helvetica Neue', Helvetica, Arial, sans-serif;
  width:30%;
}
#thali{
  font-size: 10px;
color: black;
font-family: proxima-nova, 'Helvetica Neue', Helvetica, Arial, sans-serif;
margin-top: 80px;
width:30%;
}

#ingredients{
  width:33%;
}

#thalibackground{
  opacity:initial;
  height:900px;
}

#location{
  font-size: 10px;
color: black;
font-family: proxima-nova, 'Helvetica Neue', Helvetica, Arial, sans-serif;
width:30%;
text-align: center;
}

#id_thali{
  padding:15px 10px;
  font-size:20px;
  margin-right: 10px;
}
}