<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Homefood</title>
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <link rel="stylesheet" href="/home/keerthi/homefood/design/css/header/design.css">
    <link rel="stylesheet" href="/home/keerthi/homefood/design/css/header/modo.css">
        <link rel="stylesheet" href="/home/keerthi/homefood/design/css/grocery/thali.css">

    <link rel="stylesheet" href="/home/keerthi/homefood/design/css/flat-ui/css/demo.css">
    <link rel="stylesheet" href="/home/keerthi/homefood/design/css/flat-ui/css/flat-ui.css">
    <link rel="stylesheet" href="/home/keerthi/homefood/design/css/index.css">
    <link rel="stylesheet" href="/home/keerthi/homefood/design/css/flat-ui/css/docs.css">
    <link rel="stylesheet" href="/home/keerthi/homefood/design/css/common-files/animations.css">
    <link rel="stylesheet" href="/home/keerthi/homefood/design/css/common-files/icon-font.css">
    <link rel="stylesheet" href="/home/keerthi/homefood/design/css/flat-ui/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="/home/keerthi/homefood/design/css/flat-ui/bootstrap/css/jquery.bxslider.css">
    <link rel="stylesheet" href="/home/keerthi/homefood/design/css/flat-ui/bootstrap/css/bootstrap-docs.css">
    <link rel="stylesheet" href="/home/keerthi/homefood/design/css/project/ui-kit-styles.css">
    <link rel="stylesheet" href="/home/keerthi/homefood/design/css/contacts/ui-kit-styles.css">
    <link rel="stylesheet" href="/home/keerthi/homefood/design/css/price/ui-kit-styles.css">
    <link rel="stylesheet" href="
    /home/keerthi/homefood/design/css/crew/ui-kit-styles.css">
    <link rel="stylesheet" href="/home/keerthi/homefood/design/css/footer/ui-kit-styles.css">
    <link rel="stylesheet" href="/home/keerthi/homefood/design/css/content/ui-kit-styles.css">


    <link rel="shortcut icon" href="../../flat-ui/images/favicon.ico">
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css" rel="stylesheet">
    
    <!-- Using only with Flat-UI (free)-->
  </head>
  <body style="padding-top:0px">
        <div class="page-wrapper" style="background:#f9f7eb">
            <!-- header-11 -->
            <header class="header-11" id="thaliheader">
                <div class="container">
                    <div class="row">
                        <div class="navbar col-sm-12 navbar-fixed-top" role="navigation">
                              <div class="navbar-header">
                                <button type="button" class="navbar-toggle">
                                  <span class="glyphicon glyphicon-circle-arrow-left" style="color:#fff"></span>
                                </button>
                                <div class="brand" href="homefood.html">
                                <b><span style="color:rgb(170, 35, 57);font-size:35px;font-family:serif">Home<span style="color:rgb(13, 83, 3)">Thali</span></span></b></div>
                            </div>
                            <div class="collapse navbar-collapse pull-right">
                <ul id="nav-menu" class="nav pull-left">
                  <li><a href="#what">WHAT ARE WE</a>
                  </li>
                  <li><a href="#ingredients">INGREDIENTS</a>
                  </li>
                  <li><a href="#">WANNA ORDER</a>
                  </li>

                </ul>
              </div>
                        </div>
                    </div>
                </div>
                <div class="header-background" style="background:#F8A310"></div>
            </header>
            
      <div class="showcase-container" style="
    width: 103.333%;
">
            

    <div class="showcase showcase-4-photo" data-component-bound="true">

        <div class="top-shelf-grey"></div>

        <div class="showcase-footer-links">
            
                    <a href="/biz_photos/whiskey-cake-plano?select=GuPiBPsbBTLgPO4_-xnK5Q" class="i-wrap ig-wrap-biz_details i-more-photos-biz_details-wrap see-more pull-right"><i class="i ig-biz_details i-more-photos-biz_details"></i> See all 717 photos</a>

        </div>

        <div class="slider-outer" aria-hidden="true"><div class="showcase-photos prev"></div><div class="showcase-photos current"><div class="js-photo photo photo-1" data-index="2">
        <div class="showcase-photo-box">
           
        <a href="/biz_photos/whiskey-cake-plano?select=CCpqyVKv1rP4HsY1e20Wgw">
            
        <img alt="Hot Pastrami Melt" class="photo-box-img" height="250" src="http://mykitchentrials.files.wordpress.com/2012/04/img_6731.jpg" width="250" style="margin-left:400px;width:47%">

        </a>

        </div>


                    <div class="photo-box-overlay js-overlay">
                <div class="media-block pb-overlay-caption">
                        <div class="media-avatar avatar">
                


    <div class="photo-box pb-30s" data-hovercard-id="tFQwBYZEgoHrFBnUVM0CjA">
                <a href="/user_details?userid=a4MT0vlZaFNAcs_ICuIZrA">
            

    

        </a>

    </div>



    </div>

                        

                </div>
        </div>

    </div><div class="js-photo photo photo-2" data-index="0">
        <div class="showcase-photo-box">
           
        <a href="/biz_photos/whiskey-cake-plano?select=GuPiBPsbBTLgPO4_-xnK5Q">
            
        <img alt="Hanhna's Stacked Banh Mi sandwich…" class="photo-box-img" height="250" src="http://whyevolutionistrue.files.wordpress.com/2011/01/konkani_veg_thali.jpg" width="250" style="margin-left:400px;width:47%">

        </a>

        </div>


                    <div class="photo-box-overlay js-overlay">
                <div class="media-block pb-overlay-caption">
                        <div class="media-avatar avatar">
                


    <div class="photo-box pb-30s" data-hovercard-id="4gbNpfJmjB4nanbUEs0nzw">
                <a href="/user_details?userid=RKWKypdiCRGQtySCO9f6VQ">
            

    

        </a>

    </div>



    </div>

                        

                </div>
        </div>

    </div><div class="js-photo photo photo-3" data-index="1">
        <div class="showcase-photo-box">
           
        <a href="/biz_photos/whiskey-cake-plano?select=lPxCRxIVYmAUiteAr8T4ig">
            
        <img alt="The already legendary Hot Chicken &amp;…" class="photo-box-img" height="250" src="http://i.ytimg.com/vi/aseU9t8-028/maxresdefault.jpg" width="250" style="margin-left:400px;width:47%">

        </a>

        </div>


                    <div class="photo-box-overlay js-overlay">
                <div class="media-block pb-overlay-caption">
                        <div class="media-avatar avatar">
                


    <div class="photo-box pb-30s" data-hovercard-id="4gbNpfJmjB4nanbUEs0nzw">
                <a href="/user_details?userid=RKWKypdiCRGQtySCO9f6VQ">
            

    

        </a>

    </div>



    </div>

                        

                </div>
        </div>

    </div></div><div class="showcase-photos next"><div class="js-photo photo photo-1" data-index="0">
        <div class="showcase-photo-box">
           
        <a href="/biz_photos/whiskey-cake-plano?select=GuPiBPsbBTLgPO4_-xnK5Q">
            
        <img alt="Hanhna's Stacked Banh Mi sandwich…" class="photo-box-img" height="250" src="http://cookbookaficionado.files.wordpress.com/2011/10/dsc_00091.jpg" width="250" style="margin-left:400px;width:47%">

        </a>

        </div>


                    <div class="photo-box-overlay js-overlay">
                <div class="media-block pb-overlay-caption">
                        <div class="media-avatar avatar">
                


    <div class="photo-box pb-30s" data-hovercard-id="4gbNpfJmjB4nanbUEs0nzw">
                <a href="/user_details?userid=RKWKypdiCRGQtySCO9f6VQ">
            

    

        </a>

    </div>



    </div>

                        

                </div>
        </div>

    </div><div class="js-photo photo photo-2" data-index="1">
        <div class="showcase-photo-box">
           
        <a href="/biz_photos/whiskey-cake-plano?select=lPxCRxIVYmAUiteAr8T4ig">
            
        <img alt="The already legendary Hot Chicken &amp;…" class="photo-box-img" height="250" src="http://www.indianfoodsco.com/Recipes/IndianRecipes.jpg" width="250" style="margin-left:400px;width:47%">

        </a>

        </div>


                    <div class="photo-box-overlay js-overlay">
                <div class="media-block pb-overlay-caption">
                        <div class="media-avatar avatar">
                


    <div class="photo-box pb-30s" data-hovercard-id="4gbNpfJmjB4nanbUEs0nzw">
                <a href="/user_details?userid=RKWKypdiCRGQtySCO9f6VQ">
            

    

        </a>

    </div>



    </div>

                       

                </div>
        </div>

    </div><div class="js-photo photo photo-3" data-index="2">
        <div class="showcase-photo-box">
           
        <a href="/biz_photos/whiskey-cake-plano?select=CCpqyVKv1rP4HsY1e20Wgw">
            
        <img alt="Hot Pastrami Melt" class="photo-box-img" height="250" src="http://www.carvel.com/public/images/ice-cream-cakes/celebration-cakes/round-cake.jpg" width="250" style="margin-left:400px;width:47%">

        </a>

        </div>


                    <div class="photo-box-overlay js-overlay">
                <div class="media-block pb-overlay-caption">
                        <div class="media-avatar avatar">
                


    <div class="photo-box pb-30s" data-hovercard-id="tFQwBYZEgoHrFBnUVM0CjA">
                <a href="/user_details?userid=a4MT0vlZaFNAcs_ICuIZrA">
            

    

        </a>

    </div>



    </div>

                        
                </div>
        </div>

    </div></div></div>

    <div class="nav nav-left" style="display: none;"><div class="arrow"><i class="i i-slider-nav-left-biz_details ig-biz_details"></i></div></div><div class="nav nav-right"><div class="arrow"><i class="i i-slider-nav-right-biz_details ig-biz_details"></i></div></div></div>

        </div>
      <section class="content-11">
                <div class="container">
          <div class="row">
            <form method="post" action="http://takeawayhub.herokuapp.com/email_thali/">
              <div class="col-sm-8">
                <input name="email" type="text" placeholder="Enter your e-mail" spellcheck="false" style="font-size:36px;">
              </div>
              <div class="col-sm-4">
              <div class="order">
                <button type="submit" title="yummyyyy!!!"><b>Order Now!</b>
                </button>
              </div>
              </div>
            </form>
          </div>
        </div>
            </section>
      <footer class="footer-3" style="background:#F8A310">
        <div class="container">
          <div class="row v-center">
            <div class="col-sm-2">
              <b><span style="color:rgb(170, 35, 57);font-size:35px;font-family:serif">Homefood<span style="color:rgb(13, 83, 3)">Thali</span></span></b>
            </div>
            <div class="col-sm-7">
            </div>
          </div>
        </div>
      </footer>

      
    <script src="/home/keerthi/homefood/design/js/common-files/jquery-1.10.2.min.js">
    </script>
    <script src="/home/keerthi/homefood/design/js/flat-ui/bootstrap.min.js"></script>
    <script src="/home/keerthi/homefood/design/js/common-files/modernizr.custom.js"></script>
    <script src="/home/keerthi/homefood/design/js/common-files/page-transitions.js"></script>
    <script src="/home/keerthi/homefood/design/js/common-files/jquery.scrollTo-1.4.3.1-min.js"></script>
    <script src="/home/keerthi/homefood/design/js/common-files/jquery.parallax.min.js"></script>
    <script src="/home/keerthi/homefood/design/js/common-files/easing.min.js"></script>
    <script src="/home/keerthi/homefood/design/js/common-files/jquery.svg.js"></script>
    <script src="/home/keerthi/homefood/design/js/common-files/jquery.svganim.js"></script>
    <script src="/home/keerthi/homefood/design/js/common-files/startup-kit.js"></script>
     <script src="/home/keerthi/homefood/design/css/sample/4/js/script.js"></script>
  </body>
  </html>